<div class="navbar-container">
  <!-- Logo -->
  <div class="logo-container">
    <a routerLink="/">
    <img src="assets/vivas_logo.svg" alt="Logo" class="logo"></a>
  </div>

  <!-- Menú de navegación (visible en pantallas grandes) -->
  <nav class="navigation-menu">
    <a routerLink="/haupstadt" class="admin-link">Acceso Administrador</a>
    <a routerLink="/work" class="menu-link">Work</a>
    <a routerLink="/contact" class="menu-link">Contact</a>
    <a routerLink="/shop" class="menu-link">
      Shop
      <img src="/flechaShopIcon.svg" alt="Arrow" class="arrow-icon">
    </a>
  </nav>

  <!-- Botón hamburguesa (visible en pantallas pequeñas) -->
  <div class="mobile-menu">
    <button (click)="toggleMenu()" class="menu-button">☰</button>
    @if (isMenuVisible) {
      <div class="dropdown-menu">
        <a routerLink="/haupstadt" (click)="navigateAndCloseMenu()">Administrador</a>
        <a routerLink="/work" (click)="navigateAndCloseMenu()">Work</a>
        <a routerLink="/shop" (click)="navigateAndCloseMenu()">Shop</a>
        <a routerLink="/contact" (click)="navigateAndCloseMenu()">Contact</a>
      </div>
    }
  </div>
</div>
