<div class="navbar-container" [class.welcome-theme]="navbarService.isWelcomeRoute()">
    <!-- Logo -->
    <div class="logo-container">
      <a (click)="navigateHome()">
        <img src="assets/vivas_logo.svg" alt="Logo" class="logo" />
      </a>
    </div>

    <!-- Menú de navegación (pantallas grandes) -->
    <nav class="navigation-menu">
      <a routerLink="/work" class="menu-link">Work</a>
      <a class="menu-link" (click)="openContactSheet()">Contact</a>
      <a routerLink="/shop" class="menu-link">
        Shop
        <img src="/flechaShopIcon.svg" alt="Arrow" class="arrow-icon" />
      </a>
    </nav>

    <!-- Menú hamburguesa (pantallas pequeñas) -->
    <div class="mobile-menu">
      <button (click)="toggleMenu()" class="menu-button">☰</button>
      @if (isMenuVisible) {
        <div class="dropdown-menu">
          <a routerLink="/work" (click)="navigateAndCloseMenu()">Work</a>
          <a routerLink="/shop" (click)="navigateAndCloseMenu()">Shop</a>
          <a (click)="openContactSheet()">Contact</a>
        </div>
      }
    </div>
</div>