/* Contenedor principal de la navbar */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent; 
  box-sizing: border-box;
}

/* Estilo del logo */
.logo-container .logo {
  width: 120px;
  height: auto;
  padding-left: 0px; /* Espaciado desde el borde izquierdo */
}

.navigation-menu {
  display: flex;
  justify-content: flex-end; /* Alinear los links a la derecha */
  gap: 32px; /* Espaciado entre los links */
  padding-right: 33px; /* Espaciado adicional desde el borde derecho */
}

.menu-link {
  font-size: 16px;
  text-decoration: none;
  color: #777;
  padding: 8px 16px;
  cursor: pointer;
}

.arrow-icon {
  width: 11px; /* Ajusta el tamaño del ícono */
  height: auto; /* Mantiene las proporciones */
  color: #777; /* Gris claro por defecto */
  transition: color 0.3s; /* Transición suave */
  stroke: currentColor; /* Colorea el ícono con el color actual */
}

.menu-link:hover {
  color: #4b5563; /* Hover gris oscuro */
}

/* Menú hamburguesa (por defecto oculto) */
.mobile-menu {
  display: none; /* Oculto en pantallas grandes */
}

/* Botón del menú hamburguesa */
.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #777;
}

/* Dropdown del menú hamburguesa */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 16px;
  background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: none; /* Oculto por defecto */
  flex-direction: column;
}

.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0; /* Hover gris claro */
}

/* Reglas para pantallas pequeñas */
@media (max-width: 768px) {
  .navigation-menu {
    display: none; /* Ocultar links en pantallas pequeñas */
  }

  .mobile-menu {
    display: flex; /* Mostrar menú hamburguesa */
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    padding-right: 0px; /* Alinea con el gap del work-container */
  }

  .dropdown-menu {
    display: flex; /* Mostrar menú desplegable */
  }
}
