@if (styledImages().length > 0) {
  <owl-carousel-o
    #owlCarousel
    [options]="carouselOptions"
    class="fullscreen-carousel">

    @for (image of styledImages(); track image.id) {
      <ng-template carouselSlide>
        <div class="carousel-item">
          <img
            [src]="image.image_path"
            alt="{{ image.title }}"
            class="carousel-image" />

          <div class="carousel-caption" [style.color]="image.color">
            <p>{{ image.title.toUpperCase() }} {{ image.client }}</p>
          </div>
        </div>
      </ng-template>
    }

  </owl-carousel-o>
} @else {
  <p class="text-white text-center p-4">No hay imágenes para mostrar.</p>
}
