html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    height: 100%;
    font-family: 'Inter', sans-serif !important;
  }
  html, body, .mat-typography {
    font-family: 'Inter', sans-serif !important;
  }
  
  .mat-body-1, .mat-button, .mat-toolbar, .mat-card {
    font-family: 'Inter', sans-serif !important;
  }
  