<div class="contact-container">
  <!-- HEADER -->
  <div class="contact-header">
    <div class="contact-links-left">
      <a class="contact-email link-hover-effect" (click)="openEmailModal()">INFO&#64;NANDOVIVAS.COM</a>
      <a class="link-hover-effect" href="https://www.behance.net/nandovivas" target="_blank">BEHANCE</a>
      <a class="link-hover-effect" href="https://www.instagram.com/nando_vivas/?hl=es" target="_blank">INSTAGRAM</a>
      <a class="link-hover-effect" href="#">COOKIES POLICY</a>
    </div>
  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="contact-main-row">
    <div class="contact-bio">
      <p>
        I am a graphic designer and illustrator based in Barcelona. I specialize in communication,
        packaging, branding, art direction, and editorial design projects. I also work as an instructor
        of graphic arts and design. In every single project, I like exploring different paths and possibilities
        without restricting myself to any style or trend: the client’s needs and goals will determine the final
        outcome. Do not hesitate to contact me via email and share with me what you have in mind.
        Together we will turn your ideas into visual realities.
      </p>
    </div>

    <div class="contact-clients-right">
      <div class="clients-list">
        <p><b>Selected clients:</b>Estrella Damm, Nestlé, Hospital Sant Joan de Deu, Cities Alliance, 
          AECOC, BCNMés, Ayuntament de Barcelona, Fundació "La Caixa, Editorial Planeta, 
        Swiss Airlines, Hotel Lé Meridien, Univdersity of California UCLA, Editorial Salvat</p>
      </div>
      <div class="clients-list">
        <!-- <img class="conejito" src="assets/Rabbit_Linea_cabeza.png"/> -->
      </div>
      <div class="clients-footer">
        <p>© 2024 Nando Vivas</p>
      </div>
    </div>
  </div>
</div>
