<div class="contact-container">
  <!-- HEADER -->
  <div class="contact-header">
      <a class="contact-email link-hover-effect" (click)="openEmailModal()"
        >INFO&#64;NANDOVIVAS.COM</a
      >
      <a
        class="link-hover-effect"
        href="https://www.instagram.com/nando_vivas/?hl=es"
        target="_blank"
        >INSTAGRAM</a
      >
      <a
        class="link-hover-effect"
        href="https://www.behance.net/nandovivas"
        target="_blank"
        >BEHANCE</a
      >
      <a class="link-hover-effect" href="#">COOKIES POLICY</a>
  </div>

  <!-- IMAGEN -->
 <div class="imagen-contacto">
    <img src="assets/Rabbit_Linea_cabeza.png"/>
 </div>
  <!-- CONTENIDO PRINCIPAL -->
  <div class="contact-main-row">
    <div class="contact-bio">
      <p>
        I’m a graphic designer and illustrator based in Barcelona, working
        across communication, packaging, branding, art direction, and editorial
        design. I also teach graphic arts and design. In every project, I enjoy
        exploring multiple paths and possibilities without tying myself to a
        single style or trend—the client’s needs and goals always shape the
        final outcome. 
      </p>
      <br>
      <p>
        If you have something in mind, feel free to drop me a
        line. Let’s turn your ideas into visual realities—together.
      </p>
    </div>

    <div class="contact-clients">
      <div class="clients-list">
        <p>
          <b>Selected clients:</b>
          <p>Estrella Damm, Nestlé, Hospital Sant Joan de
          Deu, Cities Alliance, AECOC, BCNMés, Ayuntament de Barcelona, Fundació
          "La Caixa, Editorial Planeta, Swiss Airlines, Hotel Lé Meridien,
          Univdersity of California UCLA, Editorial Salvat</p>
      </div>
      <div class="clients-footer">
        <p>© 2024 Nando Vivas</p>
      </div>
    </div>
  </div>
</div>
