<div class="product-detail-container">
    <button routerLink="/shop" class="back-button">Back</button>
  
    <!-- Imagen principal -->
    <div class="product-image-container">
      <img [src]="product?.image" [alt]="product?.name" class="product-image" />
    </div>
  
    <!-- Miniaturas de Imágenes Adicionales -->
    <div class="product-thumbnails">
      @if (product!.images && product!.images!.length > 0) {
      @for (image of product?.image; track image) {
        <img
          [src]="image"
          [alt]="product!.name"
          (click)="changeMainImage(image)"
          class="thumbnail-image"
        />
      }
    }
    </div>
  
    <!-- Información del Producto -->
    <div class="product-details">
      <h1 class="product-name">{{ product?.name }}</h1>
      <p class="product-price">€ {{ product?.price }}</p>
      <p class="product-description">{{ product?.description }}</p>
  
      <!-- Opciones de talla -->
      <div class="product-sizes">
        @for (size of ['XS', 'S', 'M', 'L', 'XL', 'XXL']; track size) {
          <span class="size-option" [class.active]="size === product?.size">
            {{ size }}
          </span>
        }
      </div>
  
      <!-- Opciones adicionales -->
      <div class="product-options">
        <label>
          Quantity:
          <input type="number" min="1" value="1" />
        </label>
      </div>
  
      <!-- Botones de acción -->
      <div class="product-actions">
        <button class="add-to-cart">Add to Cart</button>
        <button class="buy-now">Buy Now</button>
      </div>
    </div>
  </div>
  