.contact-container {
  width: 100vw;
  height: 265px;
  padding: 40px;
  background-color: yellow;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.email-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  gap: 40px;
}

.email-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 600px;
}

.email-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 120px;
}

.email-buttons button {
  width: 100%;
  font-weight: bold;
  padding: 0.6rem;
}

/* Compactación del input */
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

::ng-deep .mat-form-field-infix {
  padding: 0.1rem 0 !important;
}

textarea.mat-input-element {
  resize: none;
  box-sizing: border-box;
}
