<div class="navbar-container">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/vivas_logo.svg" alt="Logo" class="logo" />
    </div>
  
    <!-- Menú de navegación -->
    <nav class="navigation-menu">
      <a routerLink="/work" class="menu-link hover:text-gray-500">Work</a>
      <a routerLink="/shop" class="menu-link hover:text-gray-500">Shop</a>
      <a routerLink="/contact" class="menu-link hover:text-gray-500">Contact</a>
    </nav>
  
    <!-- Botón hamburguesa -->
    <div class="mobile-menu">
      <button (click)="toggleMenu()" class="menu-button">☰</button>
    </div>
  </div>
  