<div class="filters-background"></div> 
<div class="work-container">
  <!-- Filtros por Categoría -->
  <div class="filters-container">
    @for (category of ['All', 'Editorial', 'Branding', 'Typography', 'Packaging', 'Illustration', 'Web & SM']; track category) {
      <button
        (click)="setActiveCategory(category)"
        class="filter-link"
        [class.active]="activeCategory() === category">
        {{ category }}
      </button>
    }
  </div>

  <!-- Galería de Proyectos -->
  <div class="grid">
    @for (project of projects(); track project.id) {
      <div class="project-container group"
      [ngClass]="{ 'opacity-50': activeCategory() !== 'All' && project.category !== activeCategory() }"
      [style.order]="activeCategory() === 'All' ? project.originalOrder : (project.category === activeCategory() ? 0 : 1)">
        <!-- Imagen -->
        <a [routerLink]="['/detail', project.id]" class="block relative overflow-hidden">
          <img [src]="project.image" alt="{{ project.title }}" class="project-image transition-transform group-hover:scale-105">
        </a>

        <!-- Contenedor de Detalles -->
        <div class="project-details-container">
          <div class="project-details">
            <span class="project-title">{{ project.title }}</span>
            <span class="project-client">{{ project.client }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>

