/* Fondo de la página */
body {
  background-color: #f5f5f5; /* Fondo gris */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ocupa toda la pantalla */
}

/* Contenedor principal */
.work-container {
  padding: 32px; /* Espaciado interno */
  min-height: 100vh; /* Asegura que ocupe toda la pantalla */
}

/* Filtros */
.filters-container {
  display: flex;
  justify-content: center;
  gap: 32px; /* Espaciado entre los filtros */
  margin-top: 80px; /* Separación desde la navbar */
  margin-bottom: 48px; /* Separación hasta la galería */
}

.filter-link {
  font-size: 14px;
  color: #888; /* Gris claro */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding: 8px;
  border: none;
  background: none; /* Sin fondo */
  cursor: pointer;
  transition: color 0.3s ease;
}

.filter-link:hover {
  color: #000; /* Negro al pasar el cursor */
}

.filter-link.active {
  color: #000;/* Negro para la categoría activa */
}

/* Galería de proyectos */
.grid {
  display: grid;
  gap: 16px; /* Espaciado entre proyectos */
  margin-top: 24px; /* Espaciado adicional desde los filtros */
}

.project-container {
  background: transparent; /* Fondo transparente */
  padding: 0;
  margin-bottom: 16px; /* Espacio entre proyectos */
  overflow: hidden; /* Evita desbordamientos */
  position: relative;
  height: 0; /* Elimina altura dinámica */
  padding-bottom: 66.66%; /* Relación de aspecto 3:2 para la imagen */
}

.project-image {
  width: 100%;
  height: 100%;
  position: absolute; /* Asegura que la imagen esté dentro del contenedor */
  top: 0;
  left: 0;
  display: block; /* Evita espacios en blanco por imágenes inline */
  transition: transform 0.3s ease; /* Zoom suave */
  object-fit: cover; /* Asegura que la imagen se adapte al contenedor */
}

.project-container:hover .project-image {
  transform: scale(1.05); /* Zoom de la imagen al pasar el mouse */
}

.project-details {
  display: flex; /* Flexbox para alinear título y cliente en la misma línea */
  justify-content: space-between; /* Título a la izquierda, cliente a la derecha */
  align-items: center; /* Centra verticalmente ambos elementos */
  margin-top: 1px; /* Espaciado mínimo entre imagen y texto */
}

.project-title,
.project-client {
  font-size: 10px;
  margin: 0; /* Sin márgenes adicionales */
  overflow: hidden; /* Manejo de texto largo */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-title {
  font-weight: bold;
  text-align: left;
}

.project-client {
  color: #666; /* Gris claro */
  text-align: right;
}

/* Responsividad */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en teléfonos */
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
  }
}
